<ol class="post-list">

  {{#each posts as |post|}}
    <li>
      <article class="user">
        <div class="title">
          {{!-- <a href="{{post.post_url}}" target="_blank">{{post.title}}</a> --}}
          {{!-- <span>({{post.user_id}}), from id: {{post.id}}</span> --}}
          <span>{{post.movie_title}}</span> 
        </div>
        <div class="meta">
          Year: {{post.movieDescription}}

          {{!-- {{post.created_at}} --}}
          |
          <a href="/post/{{post.id}}">Comment here</a>
        </div>
      </article>
    </li>
  {{/each}}
</ol>

